@tailwind base;
@tailwind components;
@tailwind utilities;

.cat-dot-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
  
  .cat-menu {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
.imgCover {
  background-image: url('./girl.png');
  background-position: cover;
}